@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{

    width: 100%;
    display: grid;
    height: auto;
    grid-template: 100px repeat(5, 740px) 350px /1fr;
    background-color: var(--color-background)

}

header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px

}

header h1{
    font-size: 3em;
    color: var(--color-naranja);
}

header nav{

    padding-right: 30px;
}
header nav ul li{

    display: flex;
    list-style: none;
    width: 30vw;
    justify-content: center;
    font-size: 1.4em;
    color: var(--color-white);
    cursor: pointer;
}

nav ul{

    display: flex;
    height: 100px;
    width: 30vw;
    align-items: center;

}

/* Primera seccion -  */


.home .fullWebsite{

    display: flex;
    align-items: center;
    justify-content: center;

}

.fullWebsite .textBox__fullWebsite{
    width: 35%;
    height: 50%;
}

.home .fullWebsite .textBox__fullWebsite h2{

    color: var(--color-naranja);
    font-size: 6em;

}

.home .fullWebsite .textBox__fullWebsite p{

    margin-block: 25px;
    color: var(--color-white);
    font-size: 2.5em;
    line-height: 5vh;

}

.home .fullWebsite .textBox__fullWebsite button{

    width: 35%;
    height: 5vh;
    background-color: var(--color-naranja);
    border: var(--color-naranja);
    color: var(--color-white);
    font-size: 1.4em;

}

.home .fullWebsite img{

    width: 35%;
}

/* Segunda sección*/


.aboutUs{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border: 1px solid white;


}

.aboutUs img{

    width: 35%;

}

.aboutUs .textBox__aboutUs{
    width: 35%;
    height: 45%;
}

.aboutUs .textBox__aboutUs p:first-child{

    color: var(--color-naranja);
    font-size: 1.7em;
    margin-bottom: 15px;

}

.aboutUs .textBox__aboutUs b{

    color: var(--color-white);
    font-size: 3em;
    line-height: 5vh;

}

.textBox__aboutUs :nth-child(3){

    color: var(--color-white);
    margin-top: 15px;
    font-size: 1.5em;
    
}


.aboutUs .textBox__aboutUs button{

    width: 35%;
    height: 5vh;
    background-color: var(--color-naranja);
    border: var(--color-naranja);
    color: var(--color-white);
    font-size: 1.4em;
    margin-top: 15px;

}

/* Tercera sección*/

.foodMenu{


    border: 2px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.foodMenu p:first-child{

    color: var(--color-naranja);
    margin-top: 60px;
    font-size: 1.5em
}

.foodMenu h2{

    margin: 15px 0px 30px 0px;
    color: var(--color-white);
    font-size: 2.5em
}
.menuGallery{

    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: 1fr;
    margin-inline: 50px;
    gap: 30px;
    place-content: center;
    
}

.menuGallery .food{

    border: 1px solid white;
    background-color: var(--color-beige);
    height: 100%;
    padding: 15px

}

.menuGallery .food img{

    margin: 10px;
    padding: 15px;
    width: 90%;
}

.menuGallery .food p:nth-child(2){

    font-size: 1.5em;
}

.menuGallery .food p:nth-child(4){

    color: var(--color-naranja)
}

/* Cuarta sección */

.services{

    border: 2px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.services p:first-child{

    color: var(--color-naranja);
    margin-top: 60px;
    font-size: 1.5em
}

.services h2{

    margin: 15px 0px 30px 0px;
    color: var(--color-white);
    font-size: 2.5em
}
.servicesBox{

    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: 1fr;
    margin-inline: 50px;
    gap: 80px;
    place-content: center;
}

.nameService img{

    width: 90%;
}

.nameService b:nth-child(2){

    color: var(--color-naranja);
    font-size: 1.6vw;
    margin-bottom: 5px;
}

.nameService p:nth-child(3){

    color: var(--color-white);
    font-size: 1.2vw;
    padding: 10px 20px 10px 20px
}

/* Seccion quality food */

.qualityFood{

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white

}

.qualityFood .container{

    width: 80%;
    height: 80%;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-beige);
    font-size: 2vw;
}

.qualityFood .container h2{
    display: flex;
    text-align: center;
    line-height: 8vh;  
}

.qualityFood .container button{

    width: 15%;
    height: 5vh;
    font-size: 1vw;
    background-color: var(--color-naranja);
    border: var(--color-naranja);
    color: var(--color-white)
}

