@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
html{
    scroll-behavior: smooth;
}
button{
    cursor: pointer;
}

button:hover{

    scale: 1.2;
    transition: 0.3s;
}
body{

    width: 100%;
    display: grid;
    height: auto;
    grid-template: 100px repeat(5, 40vw) 15vw /1fr;
    background-color: var(--color-background)

}

header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60px

}

header h1{
    font-size: 3vw;
    color: var(--color-naranja);
}

header nav{

    padding-right: 30px;
}
header nav ul li {

    display: flex;
    list-style: none;
    width: 30vw;
    justify-content: center;
    font-size: 1.2vw;
    font-weight: bold;
    cursor: pointer;
}

header nav ul li a{
    color: var(--color-white);
    transition: 0.4s;
}

header nav ul li a:hover{

    color: var(--color-naranja);
    
}

nav ul{

    display: flex;
    height: 100px;
    width: 30vw;
    align-items: center;

}

/* Primera seccion -  */


.home .fullWebsite{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.fullWebsite .textBox__fullWebsite{
    width: 35%;
    height: 50%;
}

.home .fullWebsite .textBox__fullWebsite h2{

    color: var(--color-naranja);
    font-size: 5vw;

}

.home .fullWebsite .textBox__fullWebsite p{

    color: var(--color-white);
    font-size: 2.2vw;
}

.home .fullWebsite .textBox__fullWebsite p:nth-child(3){

    margin-bottom: 25px;
}

.home .fullWebsite .textBox__fullWebsite button{

    width: 35%;
    height: 5vh;
    background-color: var(--color-naranja);
    border: var(--color-naranja);
    color: var(--color-white);
    font-size: 1vw;

}

.home .fullWebsite img{

    width: 35%;
}

/* Segunda sección*/


.aboutUs{

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;


}

.aboutUs img{

    width: 35%;

}

.aboutUs .textBox__aboutUs{
    width: 35%;
    height: 45%;
}

.aboutUs .textBox__aboutUs p:first-child{

    color: var(--color-naranja);
    font-size: 1.7vw;
    margin-bottom: 15px;

}

.aboutUs .textBox__aboutUs p:nth-child(4){

    color: var(--color-white);
    font-size: 1.3vw;
}
.aboutUs .textBox__aboutUs b{

    color: var(--color-white);
    font-size: 3vw;

}

.textBox__aboutUs :nth-child(3){

    color: var(--color-white);
    margin-top: 15px;
    font-size: 1.3vw;
    
}


.aboutUs .textBox__aboutUs button{

    width: 35%;
    height: 5vh;
    background-color: var(--color-naranja);
    border: var(--color-naranja);
    color: var(--color-white);
    font-size: 1vw;
    margin-top: 15px;

}

/* Tercera sección*/

.foodMenu{

    text-align: center;
    display: flex;
    flex-direction: column;
}

.foodMenu p:first-child{

    color: var(--color-naranja);
    margin-top: 30px;
    font-size: 2vw
}

.foodMenu h2{

    margin: 15px 0px 30px 0px;
    color: var(--color-white);
    font-size: 2.5vw
}
.menuGallery{

    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: 1fr;
    margin-inline: 50px;
    gap: 30px;
    place-content: center;
    
}

.menuGallery .food{

    background-color: var(--color-beige);
    height: 100%;
    padding: 15px

}

.menuGallery .food img{

    margin: 10px;
    padding: 15px;
    width: 90%;
}

.menuGallery .food p:nth-child(2){

    font-size: 1.3vw;
}

.menuGallery .food p:nth-child(3){

    font-size: 1.1vw;
}
.menuGallery .food p:nth-child(4){

    color: var(--color-naranja);
    font-size: 1.2vw;
}




/* Cuarta sección */

.services{

    text-align: center;
    display: flex;
    flex-direction: column;
}

.services p:first-child{

    color: var(--color-naranja);
    margin-top: 30px;
    font-size: 2vw
}

.services h2{

    margin: 15px 0px 30px 0px;
    color: var(--color-white);
    font-size: 2.5vw
}
.servicesBox{

    display: grid;
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: 1fr;
    margin-inline: 50px;
    gap: 80px;
    place-content: center;
}

.nameService img{

    width: 90%;
}

.nameService b:nth-child(2){

    color: var(--color-naranja);
    font-size: 1.6vw;
}

.nameService p:nth-child(3){

    color: var(--color-white);
    font-size: 1.2vw;
    padding: 10px 20px 10px 20px
}

/* Seccion quality food */

.qualityFood{

    display: flex;
    justify-content: center;
    align-items: center;

}

.qualityFood .container{

    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-beige);
    font-size: 2vw;
}

.qualityFood .container h2{
    display: flex;
    text-align: center;  
}

.qualityFood .container button{

    width: 15%;
    height: 5vh;
    font-size: 1vw;
    background-color: var(--color-naranja);
    border: var(--color-naranja);
    color: var(--color-white)
}

/* Sección footer*/

.footer{

    display: flex;
    justify-content: center;
    align-items: center;
    
}

.item{

    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.item:last-child{
    width: 10%;
}

.linea{

    height: 2px;
    width: 30%;
    background-color: var(--color-naranja);
}

.item h3{

    color: var(--color-white);
    font-size: 1.5vw;

}

.item ul, .circulos{
    margin-top: 15px
}


.item ul li{

    list-style: none;
    color: var(--color-white);
    font-size: 1.1vw;
    
}

.item .circulos{

    display: flex;
    gap: 10px
}

circulo{

    background-color: var(--color-naranja);
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 100%;

}