@import url(variables.css);


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    
}

body{

    background-color: white;
    height: 100vh;
    display: grid;
    grid-template: 1fr / 1fr 4fr;
    padding: 30px;
    background-color: var(--color-white);


}

.menu a{

    color: #1f1e1e
}

.menu a img{
    color: #1f1e1e
}

header h1{

    font-size: 2.3vw;
    margin-top: 15px;
    margin-left: 20px;
    font-family: Nunito-ExtraBold;
    color: var(--color-white);
    text-shadow: 0px 0px 5px var(--color-darkPurple);

}

main{

    box-shadow: 0px 0px 15px var(--color-gray);
    border-radius: 20px;
    height: 100%;
    overflow: hidden;
    background-color: var(--color-lightwhite);
    
}


aside .menu{

    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-block: 10vw;
}
aside .menu .item{

    font-size: 1.2vw;
    display: flex;
    align-items: center;
    height: 6vh;
    font-family: Nunito-SemiBold;
    padding: 15px;
    gap: 10px;
    border-radius: 15px 0px 0px 15px;
}

aside .menu .item:hover{
    scale: 1;
    background-color: var(--color-purple) 
}
aside .menu .item img{

    width: 2vw;
 
}

aside .menu .item:last-child{

    margin-top: 70px;
}

aside .menu .item:last-child:hover{

    background-color: var(--color-gray);

}

/* Seccion main */


main .title__allProducts{

    padding: 25px 35px 0px 35px;
    font-family: Nunito-SemiBold;
    font-size: 1.2vw;

} 

main .clothesGallery{

    display: grid;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    padding-inline: 2vw;
    padding-block: 2vw;
    overflow-y: auto;
    gap: 1.5vw;
    padding-block: 1vw;
    height: 90%;

}

.clothe{

    height: 39vh;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 10px var(--color-darkGray);
    background-color: white;
    transition: 0.5s;

}

.clothe:hover{

    scale: 1.05;
    border: none;
    box-shadow: 0px 0px 10px var(--color-gray);
    
}

.clothe img{
    position: absolute;
}

.clothe img:nth-child(2){

    opacity: 0;
    transition: 0.2s ease-in;
}

.clothe img:nth-child(2):hover{
    opacity: 1;
}

.clothe img:nth-child(2):hover + .clothe img:nth-child(1):hover{
    opacity: 0;
}


.clothesGallery .clothe img{

    width: 100%;
    border-radius: 20px;
    height: 75%;
    object-fit: contain;
}

.clothesGallery .clothe .textClothe{

    width: 100%;
    border-radius: 20px;
    height: 25%;
    padding: 0.5vw;
    position: absolute;
    bottom: 0px;
    background-color: var(--color-gray);
}

.clothesGallery .clothe .textClothe p:first-child{

    font-family: Nunito-ExtraBold;
    font-size: 1.2vw;
    color: var(--color-campus)
    
}

.clothesGallery .clothe .textClothe p:nth-child(2){

    font-family: Nunito-Regular;
    color: var(--color-campus);
    padding-block: 1vh;
    font-size: 0.9vw;

}

.clothesGallery .clothe .textClothe button{

    position: absolute;
    right: 0.5vw;
    width: 30%;
    height: 3vh;
    bottom: 1.5vh;
    border-radius: 10px;
    background-color: var(--color-darkGray);
    border: var(--color-purple);
    font-size: 0.8vw;
    
}

.clothesGallery .clothe .textClothe button:hover{

    box-shadow: 0px 0px 10px var(--color-darkPurple);
}