@font-face {
    font-family: "Nunito-ExtraBold";
    src: url(../storage/fonts/Nunito/Nunito-ExtraBold.ttf);
}

@font-face {
    font-family: "Nunito-SemiBold" ;
    src: url(../storage/fonts/Nunito/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: "Nunito-Regular" ;
    src: url(../storage/fonts/Nunito/Nunito-Regular.ttf);
}

:root {
    --color-peach: #FDB05E;
    --color-green: #4C5F1C;
    --color-darkGreen: #0B1E03;
    --color-tangerine: #F75A00;
    --color-redOrange: #D41D01;
    
}