@font-face {
    font-family: "Nunito-ExtraBold";
    src: url(../storage/fonts/Nunito/Nunito-ExtraBold.ttf);
}

@font-face {
    font-family: "Nunito-SemiBold" ;
    src: url(../storage/fonts/Nunito/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: "Nunito-Regular" ;
    src: url(../storage/fonts/Nunito/Nunito-Regular.ttf);
}

:root {
    --color-orange: #ff702a;
    --color-white: #ffff;
    --color-background: #e5e5e5;
    --color-backgroundImages: #f5f3f3;
    --color-beige: #ffefe8;
    --color-responsive: #2c2b47;

}