@font-face {
    font-family: "Nunito-ExtraBold";
    src: url(../storage/fonts/Nunito/Nunito-ExtraBold.ttf);
}

@font-face {
    font-family: "Nunito-SemiBold" ;
    src: url(../storage/fonts/Nunito/Nunito-SemiBold.ttf);
}

@font-face {
    font-family: "Nunito-Regular" ;
    src: url(../storage/fonts/Nunito/Nunito-Regular.ttf);
}

:root {
    --color-sky: #E2F0FF;
    --color-purple: #b3a9ff;
    --color-gray: #ccd4da;
    --color-white: #e9e5e5;
    --color-darkPurple: #6451FC;
    --color-campus: #190e6b;
    --color-darkGray: #b9bdc0;
    --color-lila: #bfb8fa;
    --color-lightwhite: #ffff;

}