<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

        <aside>

            <header>
                <h1>CampusShop</h1>
            </header>
            
            <div class="menu">

                <a href="/index.html" class="item">

                    <img src="../storage/img/shoppingBag.svg" alt="">
                    <p>Todos los productos</p>
    
                </a>
    
                <a href="./abrigos.html" class="item">
    
                    <img src="../storage/img/hoodie.svg" alt="">
                    <p>Abrigos</p>
    
                </a>
    
                <a href="./camisetas.html" class="item">
    
                    <img src="../storage/img/shirt.svg" alt="">
                    <p>Camisetas</p>
    
                </a>
    
                <a href="./pantalones.html" class="item">
    
                    <img src="../storage/img/trousers.svg" alt="">
                    <p>Pantalones</p>
    
                </a>
    
                <a href="./carrito.html" class="item">
    
                    <img src="../storage/img/shoppingCart.svg" alt="">
                    <p>Carritos</p>
    
                </a>

            </div>

        </aside>

        <main>

            <section class="title__allProducts">
                <h1>Abrigos</h1>
            </section>

            <section class="clothesGallery">

                <div class="clothe">
                    <img src="../storage/img/hoodie_01.png" alt="">
                    <img src="../storage/img/hoodie_01back.png" alt="">
                    <div class="textClothe">
                        <p>Abrigo 01</p>
                        <p>$ 656.400,00 COP</p>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="clothe">
                    <img src="../storage/img/hoodie_02.png" alt="">
                    <div class="textClothe">
                        <p>Abrigo 01</p>
                        <p>$ 656.400,00 COP</p>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="clothe">
                    <img src="../storage/img/hoodie_03.png" alt="">
                    <div class="textClothe">
                        <p>Abrigo 01</p>
                        <p>$ 656.400,00 COP</p>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="clothe">
                    <img src="../storage/img/hoodie_04.png" alt="">
                    <div class="textClothe">
                        <p>Abrigo 01</p>
                        <p>$ 656.400,00 COP</p>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="clothe">
                    <img src="../storage/img/hoodie_05.png" alt="">
                    <div class="textClothe">
                        <p>Abrigo 01</p>
                        <p>$ 656.400,00 COP</p>
                        <button>Agregar</button>
                    </div>
                </div>
                <div class="clothe">
                    <img src="../storage/img/hoodie_06.png" alt="">
                    <div class="textClothe">
                        <p>Abrigo 01</p>
                        <p>$ 656.400,00 COP</p>
                        <button>Agregar</button>
                    </div>
                </div>

            </section>


        </main>

</body>
</html>