<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

        <aside>

            <header>
                <img src="../storage/img/campusShop.png" alt="">
                <h1>CS</h1>
            </header>
            
            <div class="menu">

                <a href="/index.html" class="item">

                    <img src="../storage/img/shoppingBag.svg" alt="">
                    <p>Todos los productos</p>
    
                </a>
    
                <a href="./abrigos.html" class="item">
    
                    <img src="../storage/img/hoodie.svg" alt="">
                    <p>Abrigos</p>
    
                </a>
    
                <a href="./camisetas.html" class="item">
    
                    <img src="../storage/img/shirt.svg" alt="">
                    <p>Camisetas</p>
    
                </a>
    
                <a href="./pantalones.html" class="item">
    
                    <img src="../storage/img/trousers.svg" alt="">
                    <p>Pantalones</p>
    
                </a>
    
                <a href="./carrito.html" class="item">
    
                    <img src="../storage/img/shoppingCart.svg" alt="">
                    <p>Carrito</p>
                    <p>0</p>
    
                </a>

                <p>©2023 Camper</p>

            </div>

        </aside>

        <main>

            <section class="title__allProducts">
                <h1>Carrito</h1>
            </section>

            <section class="mensaje">
                <p>Tu carrito está vacio :(</p>
            </section>

        </main>

</body>
</html>